body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.filter-newTransaction{
  padding: 10px; 
  display: flex;
  flex-direction: row; 
  align-items: center; 
  justify-content: flex-start;
  
}

.valores{
  display: flex; flex-flow: row wrap; align-items: center; justify-content: space-between; padding: 5px; margin: 10px; border: 1px solid lightgrey; border-radius: 4px;
}

.content {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 5px;
  margin: 5px;
  color: #fff;
  
}

.day {
  margin-right: 20px;
  font-family: Consolas, monospace;
  font-weight: bold;
  font-size: 1.5rem;
  
}

.text-content {
  display: flex;
  flex: 7 1 0%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.category-desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.category {
  font-weight: bold;
  font-size: 1.2rem;
}

.description {
  font-size: 1.1rem;
}

.value {
  text-align: right;
  font-family: Consolas, monospace;
  font-size: 1.8rem;
}

.buttons {
  margin-left: 10px;
  display: flex;
  flex: 1 1 0%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
